body {
    justify-content: center;
}

button {
    display: auto;
    width: 200px;
    max-width: auto;
    padding: 16px;
    border-radius: 8px;
    font-size: 42px;
    height: 200px;
    justify-items: center;
}
   