button {
    display: auto;
    width: 200px;
    max-width: auto;
    padding: 16px;
    border-radius: 8px;
    font-size: 42px;
    justify-content: center;
}

.gameButton {
    align-content: center;
}